body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  /* Modern font */
    background-color: #eef7fa;  /* Soft blue resembling sky */
    height: 100%;
}

.mapContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mapBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.sailboatIcon {
    position: absolute;
    font-size: 4em;
    color: #ffffff;  /* Sailboat color set to white for visibility against the map */
    transition: top 2s, left 2s;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.contentContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);  /* Slightly transparent white for tropical feel */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Shadows for depth */
}

.content h1 {
    margin: 0;
    color: #0077aa;  /* Deep ocean blue */
    font-size: 3em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.content p {
    margin-top: 10px;
    color: #555555;  /* Darker text for readability */
    transition: color 0.3s;  /* Smooth transition for hover effects */
}

.content p:hover {
    color: #0077aa;  /* Deep ocean blue on hover */
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #FFD700;  /* Gold color for contrast */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
